name: Build

on:
  workflow_dispatch:
  pull_request:
  push:

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  boost_url: 'https://boostorg.jfrog.io/artifactory/main/release/1.78.0/source/boost_1_78_0.tar.gz'
  boost_archive_name: 'boost_1_78_0.tar.gz'
  boost_folder_name: 'D:/boost_1_78_0'

jobs:
  build_ubuntu_20:
    runs-on: ubuntu-20.04
    steps:
      - name: Install Dependencies
        run: sudo apt-get install -y libboost-dev

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: "5.12.8"
          setup-python: 'false'

      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Configure
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

      - name: Build
        run: cmake --build ${{github.workspace}}/build --parallel 4 --config ${{env.BUILD_TYPE}}

  build_windows:
    runs-on: windows-2022
    steps:
      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: "5.12.8"
          setup-python: 'false'

      - name: Cache Boost
        id: cache-boost
        uses: actions/cache@v3
        with:
          path: ${{env.boost_folder_name}}
          key: ${{ runner.os }}-boost

      - name: Install Boost
        if: steps.cache-boost.outputs.cache-hit != 'true'
        run: |
          Invoke-WebRequest `
              "${{ env.boost_url }}" `
              -OutFile "${{ env.boost_archive_name }}" `
              -UserAgent "''"
          tar xzf ${{ env.boost_archive_name }} -C D:/
          rm ${{ env.boost_archive_name }}

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.0.3

      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Configure
        run: |
          cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -G"Visual Studio 17 2022"
        env:
          BOOST_ROOT: "${{env.boost_folder_name}}"

      - name: Build
        run:
          cmake --build ${{github.workspace}}/build --parallel 4 --target ALL_BUILD --config ${{env.BUILD_TYPE}}

      - name: Deploy app
        run: |
          mkdir output
          cp ${{github.workspace}}/build/${{env.BUILD_TYPE}}/nedit-ng.exe output
          windeployqt --release output/nedit-ng.exe

      - name: Zip windows
        uses: vimtor/action-zip@v1
        with:
          files: output
          dest: nedit-ng-Windows.zip

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: nedit-ng-${{ runner.os }}
          path: nedit-ng-Windows.zip
